<configuration debug="true">
<!--

    <appender name="ApplicationLogstashUdp" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
        <host>${logstash.service.name}</host>
        <port>${logstash.udp.port}</port>
        <layout class="net.logstash.logback.layout.LogstashLayout">
            <customFields>{"type":"application"}</customFields>
        </layout>
    </appender>
    <appender name="ApplicationLogstashTcp" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash.service.name}:${logstash.tcp.port}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"type":"application"}</customFields>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>
    <appender name="Application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logback/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="MetricLogstashUdp" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
        <host>${logstash.service.name}</host>
        <port>${logstash.udp.port}</port>
        <layout class="net.logstash.logback.layout.LogstashLayout"/>
    </appender>
    <appender name="MetricLogstashTcp" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash.service.name}:${logstash.tcp.port}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>
    <appender name="Metric" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logback/metric.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback/metric.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
-->

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="Metric" level="DEBUG" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>