<configuration>
    <appender name="Application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logback/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <appender name="Metric" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logback/metric.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback/metric.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="Metric" level="DEBUG" additivity="false">
        <appender-ref ref="Metric"/>
        <appender-ref ref="Console" />
    </logger>
    <root level="INFO">
        <appender-ref ref="Application" />
        <appender-ref ref="Console" />
    </root>
</configuration>