body {
  margin: 0;
  font-family: Arial,sans-serif;
  color: #666;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial,sans-serif;
}
